requests~=2.25.1
json
os
lxml~=4.6.3
urllib.parse
PyMySQL~=1.0.2
DateTime~=4.3
future~=0.18.2
qrcode~=7.2
Pillow~=8.4.0
win10toast~=0.9
toaster~=0.0.4
opencv-python~=4.5.4.60
pypiwin32~=223
pywin32~=302
agent~=0.1.2